
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" routerLink="/">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTE57udV-kvq-aTat0_QrX9FhxaDQw2cyPHAPAVevYbQ7vrO-ZG" alt="logo" width="75px">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation" style="">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="home">Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="manage-data">Manage Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="about">About</a>
          </li>
        </ul>
      </div>
    </nav>